# .gitignore file

# Source
########
*.o
*.so
*.dll
*.a
*.exe
*.ko
*.class

# Package
#########
*.jar
*.zip
*.tar
*.gz

# Log files
###########
*.log

# Editor copies
###############
README~
.gitignore~
*.c~
*.h~
*.java~
*.sh~

# idea
######
*.iml
.idea/

columnar_format_qat_wrapper/target/
javah/
jni-header/
target/
es_qat_wrapper_backup
es_qat_wrapper/src/main/java/com/intel/qat/es/QatCompressor
